<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Recipe Recommendations</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Recipe Recommendations</h2>-->
<!--    <p>Welcome to the Recipe Recommendation System!</p>-->
<!--    <p><a href="{{ url_for('logout') }}">Logout</a></p>-->
<!--</body>-->
<!--</html>-->